.container {
    display: flex;
    position: relative;
    align-content: space-between;
    width: 75vw;
    height: 80vh;
}

.white-key {
    order: 1;
    width: 20%;
    height: 90%;
    background: #FFF;
    transform-origin: 0 0 0;
    box-shadow: #000 50px 20px 1px 1px, #FFF 55px 22px 1px 1px;
    border: #000 solid 2px;
    border-radius: 5px;
    cursor: pointer;
}

.white-key:hover {
    box-shadow: #000 50px 20px 1px 1px, #FFF 55px 22px 1px 1px;
}

.black-key {
    position: absolute;
    order: 2;
    width: 10%;
    height: 70%;
    background: #000;
    box-shadow: #FFF 50px 20px 1px 1px, #000 55px 22px 1px 1px;
    border: #FFF solid 2px;
    border-radius: 5px;
    cursor: pointer;
}

.black-key:hover {
    box-shadow: #FFF 50px 20px 1px 1px, #000 55px 22px 1px 1px;
}


/*.rotate-key{*/
    /*transform: rotate3d(-1, 1, 1, 85deg) translate(300%, -80%);*/
/*}*/
