/*Fonts google imports*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import url('https://fonts.googleapis.com/css?family=KoHo:400,500');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/*Local Imports*/
@import "keyboard.css";
@import "functions-keyboard.css";

*{
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
:root{
    font-family: 'Quicksand', 'KoHo', 'Varela Round', sans-serif;
}
body {
    background: #5A2E2E;
    overflow: hidden;
}