.books-container {
  background: $secondary-white;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 72vw;

  @include md-view{
     width: 100vw;
  }

  @include xlg-view-min{
    width: calc(100vw - 190px);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.bookshelf {
  @extend  %flex-row;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 5rem;

  @include xlg-view{
    justify-content: space-around;
  }
}

.book {
  @extend %flex-column;
  cursor: pointer;
  height: 20rem;
  justify-content: space-between;
  margin-bottom: 27%;
  width: 176px;
}

.book-options {
  color: $secondary-gray;
}

.child {
  @extend  %flex-row;
  font-size: .875rem;
  height: 12%;
  position: absolute;
  top: 6%;
  width: 17%;
}

.left {
  left: 8.5%;
}

.right {
  right: 8.5%;
}

.mid-child {
  @extend  %flex-row;
  bottom: 41.6%;
  color: $soft-blue;
  font-size: 1.5rem;
  height: 19.2%;
  margin: auto;
  position: absolute;
  right: 36%;
  width: 27.3%;
}

.book-options>div>i {
  margin: auto;
}

.user-icons {
  @extend  %flex-row;
}

.user-icons>div {
  margin: 0 .7rem 0 0;
}

.img-container {
  @extend %border-overlay;
  height: 250px;
  margin-bottom: .5rem;
  width: 176px;

  &:hover {
    .overlay-img {
      @extend %overlay-visible;
    }
  }
}

.lend-book{
  display: none;
  position: absolute;
  right: -10px;
  top: 30px;

  i{
    position: absolute;
    top: 6px;
    left: 20px;
  }
}

.img-border{
  @extend %border-overlay;
}

.book-title {
  color: $black-medium;
  font-family: 'PlutoSansCondMedium', 'sans-serif';
  font-size: .9rem;
}

.author {
  color: $secondary-gray;
  font-family: 'PlutoSansCondLight', 'sans-serif';
  font-size: .813rem;
}

.rating {
  @extend  %flex-row;
  color: $soft-blue;
  font-size: 12.5px;
  width: 76px;

  i {
    height: 17px;
    width: 20px;
  }
}
