  @font-face {
  font-family: 'PlutoSansRegular';
  font-display: fallback;
  src: local('Arial'), url('../../fonts/HVD\ Fonts\ -\ PlutoSansRegular.otf') format('opentype');
}

@font-face {
  font-family: 'PlutoSansMedium';
  font-display: fallback;
  src: local('Arial'), url('../../fonts/HVD\ Fonts\ -\ PlutoSansMedium.otf') format('opentype');
}

@font-face {
  font-family: 'PlutoSansCondRegular';
  font-display: fallback;
  src: local('Arial'), url('../../fonts/HVD\ Fonts\ -\ PlutoSansCondRegular.otf') format('opentype');
}

@font-face {
  font-family: 'PlutoSansCondBold';
  font-display: fallback;
  src: local('Arial'), url('../../fonts/HVD\ Fonts\ -\ PlutoSansCondBold.otf') format('opentype');
}

@font-face {
  font-family: 'PlutoSansCondLight';
  font-display: fallback;
  src: local('Arial'), url('../../fonts/HVD\ Fonts\ -\ PlutoSansCondLight.otf') format('opentype');
}

@font-face {
  font-family: 'PlutoSansCondMedium';
  font-display: fallback;
  src: local('Arial'), url('../../fonts/HVD\ Fonts\ -\ PlutoSansCondMedium.otf') format('opentype');
}