//colors
$white-primary: #fcf8f3;
$white-secondary: #fff;
$white-bg-bookshelf: #f5f6f8;
$soft-blue: #6ec1e4;
$gray-primary: #979797;
$gray-secondary: #848383;
$gray-third: #858585;
$gray-fourth: #9e9e9e;
$aside-bg: #231f20;
$black: #000;
$black-medium: #383838;
$yellow-stars: #e9bd49;

// dimensions header
$min-height-header: 47px;
$max-height-header: 80px;
$height-header: 10vh;
$min-width-left-side-container: 190px;
$img-profile-size: 40px;

//margins auto
$auto-width: 0 auto;
$auto-height: auto 0;
$auto: auto;
