@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'extends';
@import 'header';
@import 'aside';
@import 'bookShelfHeader';
@import 'overlayBook';
@import 'bookshelf';


* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  display: flex;
  height: 92vh;

  @include md-view{
    flex-direction: column;
  }
}

.show{
  display: flex;
}

.sidebar {
  flex-basis: 15vw;
}

.hidde-overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.circle-img {
  background: $white-primary;
  border-radius: 100%;
}
