// Header Container
.header-container {
  @extend  %flex-row;
  background: $base-white;
  border-bottom: 2px solid $soft-blue;
  height: $height-header;
  max-height: $max-height-header;
  min-height: $min-height-header;
}

// Header right side
.header-logo {
  @extend  %flex-row;
  background: $accent-white;
  min-width: $min-width-left-side-container;

  img {
    margin: auto;
    transition: width 1s;
  }

  @include md-view{
    min-width: $logoIcon;
    width: $logoIcon;
  }

  @include xlg-view{
    @extend %size-left-side;
  }

}

//  Header center
.header-search {
  @extend  %flex-row;
  flex-basis: 72vw;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: .2rem 1.4rem 0;

  @include sm-view{
    flex-wrap: wrap;
    padding: 0 auto;
  }
}

.title {
  align-self: center;
  font-family: 'PlutoSansMedium', sans-serif;
  font-size: 1.5rem;
  line-height: normal;
  width: fit-content;
  transition: font-size 0.5s;

  @include sm-view{
    flex-basis: 100%;
    font-size: 1.2rem;
    order: 1;
  }
}

.input-search {
  @extend  %flex-row;
  align-self: center;
  background: $base-white;
  border: 1px solid $soft-blue;
  border-radius: 1rem;
  color: $main-black;
  flex-wrap: nowrap;
  font-family: 'PlutoSansRegular', 'sans-serif';
  font-size: .85rem;
  height: 2.25rem;
  min-width: 299px;;
  padding: .6rem;
  width: 26.5%;
  transition: min-width 1s;

  svg{
    @include sm-view{
      margin: auto;
      padding-left: 0.3em;
    }
  }

  @include md-view{
    min-width: 160px;
    height: 2rem;
    width: 45%;
  }

  @include sm-view{
    order: 2;
    height: 1.5rem;
    flex-basis: 100%;
    min-width: 100px;
    padding: 0;
    margin-bottom: 6px;
  }
}

input[type='search'] {
  background: transparent;
  border: 0;
  font-size: .9rem;
  margin: $auto-width;
  outline: none;
  width: 90%;

  &::placeholder {
    color: $main-black;
  }
}


// Header left side
.header-profile {
  @extend  %flex-row;
  background: $base-white;
}

.profile {
  @extend  %flex-row;
  height: fit-content;
  justify-content: space-evenly;
  margin: auto 0.7317vw;
  width: 100%;

  @include sm-view{
   min-width: 70px;
  }

  h3 {
    font-family: 'PlutoSansCondRegular', 'sans-serif';
    font-size: .875rem;
    margin: auto 0;
    margin-left: 0.14vw;
    width: 55%;
    text-align: right;

    @include xlg-view{
      display: none;
    }
  }

  svg {
    font-size: .75rem;
    margin: $auto-height;
    width: 7%;
    text-align: right;
  }

  img {
    border: 2px solid $soft-blue;
    height: 2.5rem;
    margin: auto 0;
    max-height: $img-profile-size;
    max-width: $img-profile-size;
    margin-left: 0.65vw;
  }
}

.vertical-line {
  border-left: 1px solid $gray-base;
  height: 65%;
  margin: .875rem .05rem;
  width: 0;
}
