//colors
$base-white: #fcf8f3;
$accent-white: #fff;
$secondary-white: #f5f6f8;
$soft-blue: #6ec1e4;
$gray-base: #979797;
$accent-gray: #848383;
$off-gray: #858585;
$secondary-gray: #9e9e9e;
$secondary-black: #231f20;
$main-black: #000;
$black-medium: #383838;
$yellow-stars: #e9bd49;
$error: #942e21;
$red-error: #E67C89;

// dimensions header
$min-height-header: 70px;
$max-height-header: 80px;
$height-header: 10vh;
$min-width-left-side-container: 190px;
$logoIcon: 80px;
$img-profile-size: 40px;

//margins auto
$auto-width: 0 auto;
$auto-height: auto 0;
$auto: auto;