@import 'fonts';
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  margin: 0;
}

// .container {
//   @extend %flex-row;
//   align-items: center;
//   background: $black-medium;
//   justify-content: center;
//   height: 100vh;
// }

%flex-row {
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

//extend flex column
%flex-column {
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

// .loginContainer {
//   @extend %flex-column;
//   background: $base-white;
//   border: $gray-base solid 3px;
//   border-radius: 10px;
//   width: 50vw;
//   min-width: 330px;
//   box-shadow: $soft-blue 0 0 20px 1px;
//   padding: 5vh 5vw;
//   transition: all .3s ease-out;

//   @include md-view{
//     min-width: unset;
//     width: 90vw;
//   }

//   img{
//     margin: 0 auto;
//     margin-bottom: 5vh;
//     width: 178px;
//     height: 47px;
//   }

//   @include landscape{
//     height: 90vh;
//     width: 90vw;

//     img {
//       margin-bottom: 2vh;
//     }
//   }
// }

// .noFoundContainer {
//   @extend %flex-column;
//   background: $base-white;
//   font-family: 'PlutoSansCondMedium';
//   border: $gray-base solid 3px;
//   border-radius: 10px;
//   width: 30vw;
//   height: 40vh;
//   min-width: 330px;
//   box-shadow: $soft-blue 0 0 20px 1px;
//   padding: 5vh 5vw;
//   transition: all .3s ease-out;
//   text-align: center;

//   @include md-view{
//     min-width: unset;
//     width: 90vw;
//   }

//   h1{
//     margin: 0 auto;
//     margin-bottom: 5vh;
//     font-size: 3rem;
//     color: $soft-blue;
//     width: 100%;
//     height: 47px;
//   }

//   h2{
//     margin: 0 auto;
//     margin-bottom: 5vh;
//     color: $black-medium;
//     font-size: 2.2rem;
//     width: 100%;
//     height: 47px;
//   } 

//   @include landscape{
//     height: 90vh;
//     width: 90vw;
//   }
// }

.form {
  @extend %flex-column;
  justify-content: center;
  align-items: center;
  min-height: 370px;
  height: 40vh;

  @include landscape {
    min-height: unset;
    height: unset;
  }
}

.inputsContainer{
  @extend %flex-column;
  justify-content: space-evenly;
  width: 100%;
  height: 58%;
}

.fieldContainer {
  @extend %flex-column;
  font-family: 'PlutoSansCondMedium';
  min-height: 75px;
  height: 10vh;


  svg{
    color: $soft-blue;
    font-size: 1.4rem;
  }

  label{
    font-size: 1.3rem;
    font-weight: bold;
    color: $black-medium;
    text-transform: capitalize;
    letter-spacing: .8px;
  }
}

.input {
  @extend %flex-row;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1rem;
  
  input{
    width: 100%;
    margin-left: .6em;
    padding: .5em;
    border-radius: 10px;
    outline: none;
    border: $gray-base solid 1px;

    &:hover{
      box-shadow: $soft-blue 0 0 10px 1px;
    }

    &:focus{
      border: $soft-blue solid 1px;
    }
  }
}

.error {
  span{
    color: $red-error;
    font-size: .85rem;
    padding-top: .5rem;
    font-family: 'PlutoSansCondBold';

    @include landscape {
      text-align: right;
    }
  }
  svg{
    color: $red-error;
  }

  input {
    border: $red-error solid 1px;

    &:hover{
      box-shadow: $red-error 0 0 10px 1px;
    }
  }
}

.buttonContainer {
  @extend %flex-column;
  width: 100%;
  height: 15vh;

  span{
    font-size: 1.1rem;
    font-weight: bold;
  }

  @include landscape {
    margin-top: 3.5vh;
    span {
      text-align: center;
      font-size: 0.9rem;
    }
  }
  
}

.signInButton{
  color: $black-medium;
  background: $base-white;
  border-radius: 5px;
  border: $black-medium solid 1px;
  display:inline-block;
  font-family: 'PlutoSansMedium';
  font-size: 1.2rem;
  margin: auto;
  outline: none;
  padding: 0.5rem 2rem;
  position: relative;
  text-shadow: $gray-base 0 0;
  transition: .25s all ease;

  &:hover{
    color: $soft-blue;
    text-shadow: $gray-base .5px .5px 2px;
    border: $soft-blue solid 3px;
    font-size: 1.4rem;
    transform: scale(1.25);
  }

  &:active{
    color: $base-white;
    text-shadow: $black-medium .5px .5px 2px;
    background: $soft-blue;
  }

   &:disabled{
    color: $black-medium;
    background: $gray-base;
    border: $black-medium solid 3px;
    font-size: 1.1rem;
    transform: scale(.9);
    opacity: .75;

    &:hover{
      text-shadow: $gray-base 0 0;
      transform: scale(.9);
      font-size: 1.1rem;
    }
  }

  @include landscape {
    min-height: 35px;
    font-size: .9rem;
    
    &:hover {
      font-size: .9rem;
      transform: scale(1.1);
    }
  }
}

