@font-face{
    font-family: 'PlutoSansRegular';
    src: url(../fonts/HVD\ Fonts\ -\ PlutoSansRegular.otf) format('opentype')
}

@font-face{
    font-family: 'PlutoSansMedium';
    src: url(../fonts/HVD\ Fonts\ -\ PlutoSansMedium.otf) format('opentype')
}

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    overflow: hidden;
    height: 150vh;
    display: list-item;
}
header{
    top: 0;
    min-height: 45px;
    background: #fcf8f3;
    position: sticky;
    display: flex;
    height: 7.4%;
}
a{
    display: list-item;
}
h1{
    flex-basis: auto;
    align-self:center;
    font-size: 1.22rem;
    display: block;
    line-height: normal;
    letter-spacing: 0.25px;
    font-weight: 100;
    width: fit-content;
    font-family: 'PlutoSansMedium';
    /* position: relative;
    top:1.35rem;
    left: 1.22rem; */
}
.main{
    display: flex;
}
.nav-logo{
    height: 100%;
    width: 15%;
    background: #fff;
}
.nav-search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
    width: 72%;
    padding: 0 1.15rem 0 1.25rem;
    background: #fcf8f3;
    box-shadow: #979797 2px 0px 1px 1px ;
}
.input-search{    
    flex-basis: auto;
    align-self:center;
    font-family: 'PlutoSansRegular';
    border: #6EC1E4 solid 1px;
    /* background: #fcf8f3 url('../images/search.png') no-repeat 0.3rem 0.15rem; */
    background: #fcf8f3;
    border-radius: 1rem;
    font-size: 0.7rem;
    /* position: relative;
    bottom: 0.38rem;
    left: 43.5rem; */
    width: 27%;
    padding: 0.45rem 0.6rem;
    color: #000;
    line-height: normal;
}

input[type=text]{
    padding: 0rem 0.2rem;
    font-weight: 550;
    font-size: 0.78rem;
    outline: none;
    width: 85%;
    background: transparent;
    border: none;
}::placeholder{
    color:#000;
}
.nav-profile{
    display: inline-block;
    height: 100%;
    width: 15%;
    background: #fcf8f3;
    
}
.vertical-line{
    border-left: 1px solid #979797;
    width: 0px; 
    height: 65%;
    margin: 0.75rem 0.05rem;
}
.left-side{
    background: #231F20;
    color: #6EC1E4;
    display: inline-block;
    height: inherit;
    width: 15%;
}
.right-side{
    background: #231F20;
    color: #FCF8F3;
    display: inline-block;
    height: inherit;
    width: 15%;
}
.list-nav-menu{
}
.list-nav-books{
}

.books-container{
    background: #F5F6F8;
    /* display: inline-block; */
    width: 72%;
    overflow-y: scroll !important;
    height: 2000px;
}
.books-container::-webkit-scrollbar-track{
    background-color: aqua;
}