.left-side {
  background: $aside-bg;
  color: $soft-blue;
  min-width: $min-width-left-side-container;
}

.right-side {
  @extend %flex-column;
  background: $aside-bg;
  color: $gray-secondary;
}

.aside-title {
  font-family: 'PlutoSansCondBold';
  font-size: .813rem;
  mix-blend-mode: normal;
  opacity: .7;
  padding: 2.315rem 0 1.63rem 2.25rem;
  text-transform: uppercase;
}

.aside-list {
  @extend %flex-column;
  padding: 0 0 0 2.125rem;
}

.aside-list>li {
  font-family: 'PlutoSansCondLight';
  font-size: .8rem;
  list-style-position: inside;
  margin-bottom: 1.63rem; // cambio de margin: 0 0 1.63rem 0;
  max-width: 10.793vw;
}

.header-title {
  color: $white-secondary;
  font-size: .8rem;
  padding: 2.25rem 0 .5rem 2.5rem;
  text-transform: uppercase;
}

.header-menu {
  @extend %flex-column;
  font-family: 'PlutoSansCondBold';
}

.list-header {
  @extend %flex-column;
  justify-content: space-between;
  padding: .75rem 2.5625rem 0 2.5625rem
}

.selected {
  color: $white-primary;
}

.menu-item {
  display: flex;
  flex-flow: row;
  margin-bottom:  1.25rem; // se cambio era margin: 0 0 1.25rem 0;

  i {
    width: 20%;
  }

  a {
    font-family: 'PlutoSansCondRegular';
    font-size: .9rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    width: 70%;
  }
}
