.books-header {
  @extend  %flex-row;
  align-content: center;
  background: $secondary-white;
  color: $off-gray;
  flex-wrap: nowrap;
  font-family: 'PlutoSansCondRegular', 'sans-serif';
  height: 5.066rem;
  justify-content: space-between;
  padding: 1.875rem 4.938rem 1.69rem 5.063rem;
  position: sticky;
  top: 0;
  z-index: 3;

  @include sm-view {
    height: 6rem;
    padding: 0 21.8vw;
    flex-wrap: wrap;
  }

  @include ssm-view {
    padding: 3vh 21.8vw;
  }
}

.books-header-title {
  color: $secondary-black;
  font-family: 'PlutoSansCondLight', 'sans-serif';
  font-size: 1.25rem;
  line-height: 27px;
  text-align: left;

  @include sm-view {
    order: 1;
    text-align: center;
    width: 100%;
    margin-bottom: 1vh;
  }
}

.books-pagination{
  a{
    background: $soft-blue;
    border-radius: 8px; 
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    padding: .1rem .4rem;
  }
  span{
    position:relative;
    top:-3px;
    margin: 0 .5rem;
  }

  @include sm-view {
    order: 2;
    text-align: center;
    width: 100%;
    margin-bottom: 1vh;
  }
}

.view-books {
  @extend %flex-row;
  color: $soft-blue;
  font-size: 1.2rem;
  justify-content: space-between;
  width: 2.8rem;

  svg:active {
    text-shadow: $main-black 0 0 3px;
  }

  @include sm-view{
    order: 3;
    font-size: 1rem;
    width: 2.3rem;
    flex-grow: 1;
    justify-content: space-evenly;
    margin-bottom: 1vh;
  }
}

